<div class="row">
  <div class="column">
    <ul>
      {{#each event in model}}
        <li>{{#link-to 'events.show' event}}{{event.occurredAt}} - {{event.description}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="column">
    {{outlet}}
  </div>
</div>

